<header class="header">
   <div class="container header-container">
     <a href="#" class="header-logo link">
      <img src="../images/vite-logo.png" alt="logo" width="66px" />
    </a>
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-nav-item"><a href="#" class="header-nav-link  link">Home</a></li>
        <li class="header-nav-item"><a href="#" class="header-nav-link link">About</a></li>
        <li class="header-nav-item"><a href="#" class="header-nav-link link">Service</a></li>
        <li class="header-nav-item"><a href="#" class="header-nav-link link">Menu</a></li>
        <li class="header-nav-item"><a href="#" class="header-nav-link link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="header-btn btn">Order now</button>
   </di >
</header>
 